$background-color: #EFEFEF;
$link-color: #333333;
$border-color: #CCCCCC;

header {
	background-color: $background-color;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 1px solid $border-color;
	margin-bottom: 20px;
	padding: 16px 0;
}
