---
import Layout from '../layouts/Layout.astro';
import AstronomyPictureOfTheDay from "../components/AstronomyPictureOfTheDay.astro";
import Header from "../components/Header.astro";
import NearEarthObjectWebService from "../components/NearEarthObjectWebService.astro";
---

<Layout title="Nasa API">
	<Header/>
	<main>
		<AstronomyPictureOfTheDay/>
		<NearEarthObjectWebService/>
	</main>
</Layout>

<style>
	main {
		padding: 0 16px;
	}
</style>