---
import Layout from '../layouts/Layout.astro';

import Header from '../layouts/Header.astro';
import Button from '../components/Button.astro';
import Image from '../components/Image.astro';
import Footer from "../layouts/Footer.astro";
import Main from "../layouts/Main.astro";

import cadenaImage from '../Images/cadena.webp';
import esclavaImage from '../Images/esclava.jpg';
import ImageOverlay from "../components/ImageOverlay.astro";
---

<Layout title="Joyeria La Perla">
	<Header/>

	<Main>
		<Button text="Explore our latest catalog"/>
		<Image src={cadenaImage} alt="Cadena"/>
		<Image src={esclavaImage} alt="Esclava"/>
		<ImageOverlay src={cadenaImage} alt="Cadena Image" title="Engagement & Wedding" text="This cadena is 14k gold"
									button="Explore Jewelry"/>
	</Main>

	<Footer/>
</Layout>
